<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Date" value="30" />
    <add key="Password" />
    <add key="Update" value="1" />
    <add key="ShareModel" value="E:\MyData\jiangxj.CN\source\CATL\Service\SharedModels" />
    <add key="SqlString" value="输入数据库连接字符串..." />
    <add key="DataBaseName" value="jywl" />
    <add key="DBName" value="" />
    <add key="AutoStart" value="true" />
    <add key="Default" value="0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.13.0" newVersion="8.0.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
