################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/.vs
/Project.G/bin/Debug
/Project.G/obj
/Project.G/plugins/Creative.ODA.dll
/Project.G/bin
/Project.G/Models/models4.cs
/Project.G/.vs/Project.G/v15/.suo
