################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/.vs
/GenerateToolbox/bin/Debug
/GenerateToolbox/GenerateToolbox/obj
/GenerateToolbox/obj
/GenerateToolbox/plugins/Creative.ODA.dll
/GenerateToolbox/bin
/GenerateToolbox/Models/models4.cs
/GenerateToolbox/.vs/Project.G/v15/.suo
/GenerateToolbox/GenerateToolbox/obj/Debug
/GenerateToolbox/obj/Debug
/GenerateToolbox/GenerateToolbox.csproj.user
/GenerateToolbox/Toolkit/ToolKit.exe
/GenerateToolbox/Toolkit/ToolKit.pdb
